<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>客户端</title>
	<!--<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>-->
	<link rel="stylesheet" href="./app.css">
	<link rel="stylesheet" href="./res/iconfont/iconfont.css">
</head>
<body>
	<div class="container">
		<div class="bg-layer"></div>
		<div class="app">
			<button class="btn-close" @click='exit'>X</button>
			<!--<i class="btn-close icon iconfont icon-exit" @click='exit'></i>-->
			<div class="music">
				<div class="query-box">
					<input type="text" class="keywords" v-model='keywords' placeholder="请输入关键词">
					<button class="btn-query" @click='query(keywords)'>搜索</button>
				</div>
				<div class="music-list">
					<div class="music-item" v-for='(music,index) in musics' @click='musicItemClick(index,$event)'>
						<img v-bind:src="music.picUrl" width="30px" height="30px" class="pic"></img>
						<span class="music">{{music.name || music}}</span>
					</div>
				</div>
			</div>
			<div class="player">
				<img v-if='curMusic!==null' :src="curMusic.picUrl" class="img-music" alt="无图">
				<div>
					{{currentTime}}/{{duration}}
				</div>
				<div class="control-block">
					<div class="progress-bar"></div>
					<div class="btn-group">
						<i class="icon iconfont icon-prev"></i>
						<i class="icon iconfont" :class='[status==="played" ? "icon-pause" : "icon-play"]' @click='playBtnClick'></i>
						<i class="icon iconfont icon-next"></i>
						<i class="icon iconfont icon-volume"></i>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
	
	<script>
		require('./app');
	</script>

</body>
</html>